.angular/cache/18.0.4/angular-webpack/*.pack filter=lfs diff=lfs merge=lfs -text
*.largefile filter=lfs diff=lfs merge=lfs -text
.angular/cache/18.0.4/babel-webpack/*.json filter=lfs diff=lfs merge=lfs -text
